<div class="container-mobile">
  <div class="img-header">
    <div class="img-hour">
      <img id="hour" src="/assets/images/9_41.png" alt="heure" />
    </div>
    <div class="img-battery">
      <img id="battery" src="" alt="battery" />
    </div>
  </div>
  <div class="search-mobile">
    <input type="text" id="search-mobile" name="yournamemobile" placeholder="Your name..">
    <img id="searchMobile" src="/assets/images/Avatar-UI-Unicorn-V2.png" alt="logo" />
  </div>
  <div class="inputMobile">
    <input type="text" id="search-mobile" name="yournamemobile" placeholder="Your name..">
    <input type="text" id="search-mobile" name="yournamemobile" placeholder="Your name..">
    <input type="text" id="search-mobile" name="yournamemobile" placeholder="Your name..">
    <input type="text" id="search-mobile" name="yournamemobile" placeholder="Your name..">
  </div>
</div>
