<div class="containerUser">
  <div class="userProfile">
    <img src="/assets/images/Jerry_yang.jpg" alt="Jerry yang">
    <div class="userInfo">
      <p>Lorem ipsum dolor sit</p>
      <p>Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="userMessage">
    <div class="userWrite">
      <div class="messangeSend">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delen</p>
        <img src="/assets/images/Jerry_yang.jpg" alt="Jerry yang">
      </div>
      <div class="messangeSend">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, delen</p>
        <img src="/assets/images/Jerry_yang.jpg" alt="Jerry yang">
      </div>


    </div>

    <div class="userText">
      <textarea name="message" id="" cols="30" rows="10"></textarea>
      <button type="button">Envoyer</button>
    </div>
  </div>
</div>
