<div class="container">
  <div class="image-view">
    <img src="/assets/images/Rectangle 2756.png" alt="image presentation" />
  </div>
  <div class="auth-user">
    <div class="logo-avatar">
      <img src="/assets/images/Avatar-UI-Unicorn-V2.png" alt="avatar" />
      <h3>Uniform Logo </h3>
    </div>
    <div class="login-user">
      <div class="connexUser">
        <form>
          <app-user-login></app-user-login>
          <app-user-password></app-user-password>
          <app-sign-it></app-sign-it>
        </form>
      </div>
    </div>
  </div>
